.chats-header {
    width: 100vw;
	background-color: #9c27b0;
	padding: 10px;
	color: white;
    box-sizing: border-box;
}

.chat-header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}