.chat-footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8px;
	box-sizing: border-box;
	background-color: white;
	border-top: 1px solid #ddd;
}

.form {
	display: flex;
	flex-grow: 1;
	align-items: start;
}

.files {
	display: flex;
	flex-wrap: wrap;
}

.file {
	margin-left: 8px;
}

.message-input {
	flex-grow: 1;
	width: 100%;
	margin: 8px;
	border: none;
	resize: none;
	overflow-y: hidden;
	scrollbar-width: none;
	font-size: inherit;
	line-height: 1;
	font-family: Arial, sans-serif;
}

textarea:focus {
	outline: none;
}

.label-for-file {
	display: flex;
}

button {
	all: unset;
	cursor: pointer; 
	display: flex;
}

.record-btn {
	display: flex;
	background-color: #fff;
	border: none;
	cursor: pointer;
	&.recording {
		background-color: #f00;
		border-radius: 8px;
		color: #fff;
	}
}