* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f5f5f5;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  height: 100vh;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  background-color: #fff;
}

.chat-header {
  background-color: #9c27b0;
  padding: 10px;
  color: white;
}

.chat-body-footer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: auto;
}

.chat-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat-user-info {
  flex-grow: 1;
  margin-left: 10px;
}

.user-name {
  font-size: 16px;
  margin-bottom: 5px;
}

.last-seen {
  font-size: 12px;
}

.option-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.chat-body {
  padding: 10px;
  overflow-y: auto;
  scrollbar-width: none;
}

.message {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  padding: 8px 8px 2px 8px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
}

.message-received-container {
  display: flex;
  justify-content: flex-start;
}

.message-received {
  align-items: flex-end;
  background-color: #f0f0f0;
  border-radius: 10px 10px 10px 2px;
}

.message-send-container {
  display: flex;
  justify-content: flex-end;
}

.message-send {
  align-items: flex-start;
  background-color: #e1bee7;
  border-radius: 10px 10px 2px 10px;
}

.timestamp {
  font-size: 10px;
  color: gray;
  align-self: flex-end;
}

.message-send .timestamp::after {
  content: "done_all";
  font-family: "Material Symbols Outlined";
  font-size: 17px;
  margin-left: 5px;
  vertical-align: middle;
  color: #8C1AF6;
}

.image-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image {
  width: 300px;
  border-radius: 5px;
}

.chat-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 8px;
  border-top: 1px solid #ddd;
}

.form {
  display: flex;
  flex-grow: 1;
}

.message-input {
  flex-grow: 1;
  margin: 8px;
  border: none;
  resize: none; 
  overflow-y: hidden; 
  scrollbar-width: none;
  font-size: inherit;
  line-height: 1;
}

textarea:focus {
  outline: none;
}

.material-symbols-outlined {
  align-self: flex-end;
  margin: 5px;
  cursor: pointer;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
